body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
nav ul{
    background-color: rgba(145, 134, 134, 0.5);
    overflow: hidden;
    color: white;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    transition: 1s;
    display: inline-block;
    position: fixed;
    z-index: 1000;
}
.meny-list{
    display: none;
}

.responsive-reklam-text{
    display: none;
}

nav ul li{
    display: inline-block;
    padding: 20px;
}

nav ul li:hover{
    background-color: #ddd;
}
a{
    display: block;
    color: white;
    text-align: center;
    padding: 12px 22px;
    text-decoration: none;
}

.menu{
    width: 100%;
    background-color: #333;
    text-align: left;
    box-sizing: border-box;
    padding: 15px 10px;
    cursor: pointer;
    color: white;
    display: none;
    height: 99px;
}
.linje{
    display: none;
}
.reponsive-logga-text{
    display: none;
}
.pizza-bild-logga{
    display: none;
}
#backgroundvideo{
    right: 0;
    bottom: 20%;
    width: 100%;
    height: auto;
}

/*Wrapper1*/

#wrapper1{
    width: auto;
    height: auto;
    background-color: rgb(255, 255, 255);
}
h2{
    text-align: center;
    font-size: 45px;
    text-transform: uppercase;
    color: #333;
}
h2:after{
    content: '';
    display: block;
    height: 3px;
    width: 40px;
    background: #e96656;
    margin: 8px 0 20px 0;
    margin-left: auto;
    margin-right: auto;
}
.text-under-header{
    display: grid;
    justify-content: center;
    color: #333;
    padding-top: 0px;
}
.container{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    margin-top: 40px;
}
.box-pizza{
    width: 20%;
    height: 300px;
    margin: 20px;
    box-sizing: border-box;
    font-size: 50px;
    background-image: url(../img/pizza.jpg);
    background-size: cover;
}
.box-pizza:hover{
    animation: box-pizza 0.5s;
    animation-iteration-count: infinite;
}
@keyframes box-pizza{
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
.box-burgare{
    width: 20%;
    height: 300px;
    margin: 20px;
    box-sizing: border-box;
    font-size: 50px;
    background-image: url(../img/burgare.jpg);
    background-size: cover;
}
.box-burgare:hover{
    animation: box-burgare 0.5s;
    animation-iteration-count: infinite;
}
@keyframes box-burgare{
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
.box-rulle{
    width: 20%;
    height: 300px;
    margin: 20px;
    box-sizing: border-box;
    font-size: 50px;
    background-image: url(../img/kebabrulle.jpg);
    background-size: cover;
}
.box-rulle:hover{
    animation: box-rulle 0.5s;
    animation-iteration-count: infinite;
}
@keyframes box-rulle{
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
.box-kolgrill{
    width: 20%;
    height: 300px;
    margin: 20px;
    box-sizing: border-box;
    font-size: 50px;
    background-image: url(../img/kolgrill.jpg);
    background-size: cover;
}
.box-kolgrill:hover{
    animation: box-kolgrill 0.5s;
    animation-iteration-count: infinite;
}
@keyframes box-kolgrill{
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
.box-rubrik{
    color: #333;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 324px;
    text-align:center;
}
.box-rubrik:after{
    content: '';
    display: block;
    height: 3px;
    width: 40px;
    background: #e96656;
    margin: 8px 0 20px 0;
    margin-left: auto;
    margin-right: auto;
}
.box-text{
    font-size: 14px;
    margin-top: 0;
    text-align: center;
}
.button-meny{
    display: grid;
    justify-content: center;
    margin: 0 auto;
    font-size: 16px;
    color: #309f52;
    font-weight: 700;
    border: 2px solid #309f52;
    padding: 20px 10px;
    margin-top: 175px;
    background: transparent;
    transition: 0.5s all ease;
    width: 260px;
    height: 65px;
}
.button-meny:hover {
    background-color: #4CAF50;
    color: white;
    transition: 0.5s;
}

/*Lunch Meny*/

#lunch-meny{
    width: auto;
    height: auto;
    display: none;
    margin-top: 165px;
}
.lunch-meny-rubrik{
    color: #309f52;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 33px;
    text-align: center;
    text-transform: uppercase;
}
span{
    color:#c02530;
}
.span-pris{
    color: #309f52;
}
.meny{
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
}
.meny-innehall{
    margin-bottom: 1.5em;
    text-align: center;
}
.button-hela-menyn{
    display: grid;
    justify-content: center;
    margin: 0 auto;
    font-size: 16px;
    color: #309f52;
    font-weight: 700;
    border: 2px solid #309f52;
    padding: 20px 10px;
    margin-top: 100px;
    background: transparent;
    transition: 0.5s all ease;
    width: 260px;
    height: 65px;
}
.button-hela-menyn:hover{
    background-color: #4CAF50;
    color: white;
    transition: 0.5s;
}
.meny-reklam{
    text-align: center;
}

/* Sida 2*/
#wrapper2{
    width: auto;
    height: auto;
    background-color: #f6753c;
}
.rubrik-omoss{
    color: white;
    padding-top: 100px;
    margin-top: 100px;
}
.container-omoss{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    margin-top: 40px;
}
.text-box{
    width: 40%;
    height: 580px;
    margin: 20px;
    box-sizing: border-box;
    font-size: 50px; 
}
.bild-box{
    width: 40%;
    height: 580px;
    margin: 20px;
    box-sizing: border-box;
}
.info-text{
    font-size: 14px;
    line-height: 25px;
    color:white;
}
.matbild{
    height: 390px;
    width: 63%;
}
.under-rubrik{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    color: white;
    text-align: center;
}

/*Wrapper3*/
#wrapper3{
    width: auto;
    height: auto;
    background-color: #ffffff;
}
#slideshow { 
    margin: 50px auto; 
    position: relative; 
    width: 937px;
    height: 835px; 
    padding: 10px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

#slideshow > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}

.slidebild{
    width: 930px;
    height: 830px;
}

/*Sida 4*/

#wrapper4{
    width: auto;
    height: auto;
    background-color: #ffffff;   
}
.box-meny{
    width: 30%;
    height: 300px;
    margin: 20px;
    box-sizing: border-box;
    font-size: 50px;
}
.box-rubrik-meny{
    color: #309f52;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 33px;
    text-align: center;
    text-transform: uppercase;
}
.pizza-namn{
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
    font-size: 18px;
}
.pizza-innehall{
    font-size: 14px;
    margin-top: 20px;
}
.pizza-pris-span{
    color: #c02530;
    float: right;
}

.map{
    border: none;
    width: 100%;
    height: 600px;
    margin-top: 270px;
}

/*Hidden meny*/

.container-helameny{
    display: flex;
    width: 100%;
    height: 230px;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    margin-top: 40px;
    background-color: #e96656;
}
.box-froga{
    width: 20%;
    height: 100px;
    margin: 20px;
    box-sizing: border-box;
    font-size: 50px;
    background-color: #e96656;
    position: relative;
    top: 50px;
    left: -115px;
}

.froga{
    line-height: 40px;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 100;
}
.button-visa-mig-allt{
    font-size: 16px;
    color: white;
    font-weight: 100;
    border: none;
    margin-top: 16px;
    transition: 0.5s all ease;
    width: 195px;
    height: 50px;
    background-color: #db5a4a;
    text-transform: uppercase;
}
.button-visa-mig-allt:hover{
    background-color: #bf3928;
    color: rgb(0, 0, 0);
    transition: 0.5s;
}
.box-button-meny{
    width: 20%;
    height: 100px;
    margin: 20px;
    box-sizing: border-box;
    font-size: 50px;
    background-color: #e96656;
    position: relative;
    top: 50px;
    right: -200px;
}
.div-froga{
    margin-top: -40px;
}
#hela-meny-sida{
    width: auto;
    height: auto;
    display: none;
}
.lijne-responsive-meny{
    display: none;
}

/*Footer*/
footer{
    width: auto;
    height:auto;
    background: #f6753c;
    color: white;
}
#container-footer{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    justify-content:center;
}
.box-footer{
    display: grid;
    justify-content: center;
    width: 20%;
    height: 210px;
    box-sizing: border-box;
    font-size: 50px;
    padding-top: 67px;
    padding-bottom: 30px;
    margin: 10px;
}
.box-footer2{
    display: grid;
    justify-content: center;
    width: 20%;
    height: 210px;
    box-sizing: border-box;
    font-size: 50px;
    padding-top: 67px;
    padding-bottom: 30px;
    margin: 10px;
    position: relative;
    left: -64px;
}
.box-footer-blue{
    display: grid;
    width: 20%;
    height: 230px;
    box-sizing: border-box;
    padding-top: 67px;
    padding-bottom: 30px;
    background-color: #00c5be;
}
.adress-ico{
    position: relative;
    left: 135px;
}
address{
    font-size: 17px;
    font-style: initial;
    padding-top: 3px;
    font-weight: bold;
}
.tel{
    font-size: 17px;
    font-style: initial;
    padding-top: 0;
    font-weight: bold;
}
.epost-ico{
    position: relative;
    left: 85px;
}
.epost-text{
    font-size: 17px;
    padding-top: 0px;
    font-weight: bold;
}
.iphone-ico{
    position: relative;
    left: 50px;
}
.social{
    margin:0;  
}
.social-li{
    display: inline-block;
    margin: 5px; 
}
.social-icon{
    width: 25px;
}
.instagram-position{
    position: relative;
    left: -60px;
}
.copyright{
    font-size: 16px;
    font-weight: bold;
}
.social-media{
    list-style-type: none;
}

/* Meny Sida */

.pizza-meny-rubrik{
    color: #309f52;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 33px;
    text-align: center;
    text-transform: uppercase;
}
.container-hela-menyn{
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    margin-top: 40px;
}
.box-meny-hela{
    width: 75%;
    height: auto;
    margin: 20px;
    box-sizing: border-box;
    font-size: 50px;
    margin-left: 180px;
}